
*.ERR
*.MBO
*.MBO
*.MBX
*.TAB
Mellersta/Thumbs.db
Old/asd.txt
Old/distrikt och naturreservat utsökning.WOR
Old/distriktsindelning.csv
Old/gotlandskarta med socknar, indelat i söder, mellan, norr, samt klart vatten eller ej.txt
Old/Namnlös2.WOR
Old/ärendennaireservat.QRY
